<!DOCTYPE html>
<html lang="fr">

<body>
    <main>




        <div class="container">
            <div class="row">

                <div class="col-4">
                <img src="">
                </div>


                <div class="col-8" style="background-color: #AADEED;">
                texte
                </div>

                <button type="button" class="btn btn-primary btn-round mr-md-3 mb-md-0 mb-2" style="float: right;">Default Round</button>

            </div>
        </div>




    </main>
</body>
</html>